name: 'example'
description: 'A new Flutter project.'
publish_to: 'none'
version: '1.0.0+1'
environment:
  sdk: '>=3.6.0 <4.0.0'
dependencies:
  flutter:
    sdk: 'flutter'
  cupertino_icons: '^1.0.8'
dev_dependencies:
  flutter_test:
    sdk: 'flutter'
  flutter_lints: '^5.0.0'
  msix: '^3.16.8'
  packagex:
    path: '../'
flutter:
  uses-material-design: true
packagex:
  name: 'example'
  is_without_platform_name: true
  is_app_auto_clean_up_folder: true
  uploads:
    - platform_type: 'telegram'
      telegram_chats:
        - chat_id: '@azkadev_beta_action_publisher'
          message_thread_id: ''
        - chat_id: '-1002282230821'
          message_thread_id: ''
  packages:
    - dart_target: 'example'
      flutter_target: 'example'
      dart_name: 'example'
      flutter_name: 'example'
      output_name: 'example'
  flutter_build_arguments:
    - '--split-per-abi'
    - '--build-name'
    - '0.0.0'
    - '--build-number'
    - '0.0.0'
    - '--obfuscate'
    - '--split-debug-info'
    - 'temp'
  dart_compile_exe_arguments:
    - '--save-debugging-info=debug'
msix_config:
  display_name: 'example'
  install_certificate: false
dependency_overrides:
  pointycastle: '3.8.0'
  mime: '^2.0.0'
funding: []
