[Desktop Entry]
Type=Application
Version=0.0.0
Name=packagex
GenericName=General Application
Exec=packagex %U
Categories=Music;Media;
Keywords=Hello;World;Test;Application;
StartupNotify=true
