Maintainer: azkadev <azkadev@noemail.com>
Package: package
Version: 0.0.0 
Priority: optional
Architecture: amd64
Essential: no 
Description: A new Flutter project.
Homepage: https://youtube.com/@azkadev
